mixin pageNavbarWriteItem(label, url, active_label)
  if (url instanceof Array)
    li.dropdown
      a(href="#", data-toggle="dropdown").dropdown-toggle #{label}
        b.caret
      ul.dropdown-menu
        li
        each dropdown_item in url
          each dropdown_url, dropdown_label in dropdown_item
            a(href='#{dropdown_url}') #{dropdown_label}

  else if (label == active_label)
    li.active
      a(href='#{url}') #{label}

  else
    li
      a(href='#{url}') #{label}

mixin pageNavbar(active_label)
  - var ITEMS = [{Home: 'index.html'}, {Docs: 'docs.html'}, {Tutorials: [{Todos: 'tutorial_todos.html'}, {Inspector: 'tutorial_inspector.html'}]}]

  div.navbar.top
    div.navbar-inner
      div.container
        a.brand Knockback.js
        ul.nav
          each item in ITEMS
            each url, label in item
              mixin pageNavbarWriteItem(label, url, active_label)
