extends ../../_layout/_layout_template

include ../../_layout/_layout_mixins

block title
  title= "Tutorial: kb.ViewModel"

block includes
  link(rel="stylesheet",href="stylesheets/tutorial.css")
  include ../../_demos/_demos_include_knockback_scripts

block navbar
  mixin pageNavbar('kb.ViewModel', true)

block content
  section
    h1="Tutorial: kb.ViewModel"
    p
      a(href='index.html')='Knockback.js'
      span=' has a helper called '
      a(href='docs_kb_view_model.html')='kb.ViewModel'
      span=' to automatically generate observables for each attribute'
    p
      span='Most likely you will use the kb.viewModel(model) '
      span.label.label-info='factory'
      span=' method to create a kb.ViewModel.'

    p
      span.label.label-important='warning'
      span=' Unless you specify otherwise, a kb.ViewModel creates an observable for every attribute (including the id) which can cause performance issues on a page with many models. It is recommended to get started quickly with kb.ViewModels and then optimize with specialized classes like kb.Observable and kb.CollectionObservable.'

    p
    h3="Attribute Type: Backbone.Model"
    p
    p="If Knockback encounters a attribute that is a Backbone.Model, it automatically creates a kb.ViewModel for it. Because the model can change behind the scenes, you must access the view model using the 'attribute_name()' syntax rather than as a simple property."

    div.container-fluid
      div.row-fluid
        div.span8
          h4='Views:'
          pre
            include kbvm_bb_model_view.html.txt

          h4='ViewModel and Bindings:'
          pre(data-for='cs')
            include kbvm_bb_model_view_model_bindings.coffee

          pre(data-for='js')
            include ../../../public/tutorials/kb_view_model/kbvm_bb_model_view_model_bindings.js

        div.span4
          h4='Live Result'
          div.demos_result_box
            include kbvm_bb_model_view.html
            script(type="application/javascript",src="tutorials/kb_view_model/kbvm_bb_model_view_model_bindings.js")

    p
    h3="Attribute Type: Backbone.Collection"
    p
    p="If Knockback encounters a attribute that is a Backbone.Collection, it automatically creates a kb.CollectionObservable for it and a kb.ViewModel for each of it's models. Because the collection can change behind the scenes, you must access the collection observable using the 'attribute_name()' syntax rather than as a simple property."

    div.container-fluid
      div.row-fluid
        div.span8
          h4='Views:'
          pre
            include kbvm_bb_collection_view.html.txt

          h4='ViewModel and Bindings:'
          pre(data-for='cs')
            include kbvm_bb_collection_view_model_bindings.coffee

          pre(data-for='js')
            include ../../../public/tutorials/kb_view_model/kbvm_bb_collection_view_model_bindings.js

        div.span4
          h4='Live Result'
          div.demos_result_box
            include kbvm_bb_collection_view.html
            script(type="application/javascript",src="tutorials/kb_view_model/kbvm_bb_collection_view_model_bindings.js")