extends ../../_layout/_layout_template

include ../../_layout/_layout_mixins

block title
  title= "Tutorial: kb.LocalizedObservable"

block includes
  link(rel="stylesheet",href="stylesheets/tutorial.css")
  include ../../_demos/_demos_include_knockback_scripts
  include ../../_demos/_demos_include_globalize_scripts

block navbar
  mixin pageNavbar('kb.LocalizedObservable', true)

block content
  section
    h1="Tutorial: kb.LocalizedObservable"
    p
      a(href='index.html')='Knockback.js'
      span=" uses a convention of storing your custom Locale Manager in 'kb.locale_manager' so that it can be globally used to localize aspects of your application (please see the "
      a(href='tutorial_locale_manager.html')="Custom Locale Manager"
      span=" tutorial for usage examples). "
    p
      span="The "
      a(href='docs_kb_Localized_observable.html')="kb.LocalizedObservable"
      span=" watches the 'kb.locale_manager' instance for changes and updates itself accordingly."

    p
      span.label.label-important='warning'
      span=' This is one of the few cases where you are likely to derive from a Knockback class and where you need to know about '
      span.label.label-warning='observable returned'
      span='. Basically, when you derive your own type of kb.LocalizedObservable, you need to return the wrapped observable rather than the instance itself from the constructor using '
      a(href='docs_kb_utils.html#wrapped_observable')="kb.utils.wrappedObservable"

    p
      span="We'll use the following Locale Manager for these examples:"
      pre(data-for='cs')
        include kblo_locale_manager.coffee
      pre(data-for='js')
        include ../../../public/tutorials/kb_localized_observable/kblo_locale_manager.js
      script(type="application/javascript",src="tutorials/kb_localized_observable/kblo_locale_manager.js")

    p
    h3="Nested String Id"
    p
    p="If you want to simply localize some read-only text based on a nested string id, you typically use a ko.Observable to access the attribute with the string id and use a localizer that simply looks up the string in the kb.locale_manager."

    div.container-fluid
      div.row-fluid
        div.span8
          h4='Custom kb.LocalizedObservable:'
          pre(data-for='cs')
            include kblo_string_id_models.coffee
          pre(data-for='js')
            include ../../../public/tutorials/kb_localized_observable/kblo_string_id_models.js

          h4='Views:'
          pre
            include kblo_string_id_view.html.txt

          h4='ViewModel and Bindings:'
          pre(data-for='cs')
            include kblo_string_id_view_model_bindings.coffee

          pre(data-for='js')
            include ../../../public/tutorials/kb_localized_observable/kblo_string_id_view_model_bindings.js

        div.span4
          h4='Live Result'
          div.demos_result_box
            include kblo_string_id_view.html
            script(type="application/javascript",src="tutorials/kb_localized_observable/kblo_string_id_models.js")
            script(type="application/javascript",src="tutorials/kb_localized_observable/kblo_string_id_view_model_bindings.js")

    p
    h3#localized_input="Localized Input"
    p
    p="If you want to simply label an input field, you can use a read-only localized observable that only looks up the string in the kb.locale_manager."

    div.container-fluid
      div.row-fluid
        div.span8
          h4='Custom kb.LocalizedObservable:'
          pre(data-for='cs')
            include kblo_localized_input_models.coffee
          pre(data-for='js')
            include ../../../public/tutorials/kb_localized_observable/kblo_localized_input_models.js

          h4='Views:'
          pre
            include kblo_localized_input_view.html.txt

          h4='ViewModel and Bindings:'
          pre(data-for='cs')
            include kblo_localized_input_view_model_bindings.coffee

          pre(data-for='js')
            include ../../../public/tutorials/kb_localized_observable/kblo_localized_input_view_model_bindings.js

        div.span4
          h4='Live Result'
          div.demos_result_box
            include kblo_localized_input_view.html
            script(type="application/javascript",src="tutorials/kb_localized_observable/kblo_localized_input_models.js")
            script(type="application/javascript",src="tutorials/kb_localized_observable/kblo_localized_input_view_model_bindings.js")
