mixin pageNavbarWriteItem(label, url, active_label)
  if (url instanceof Array)
    li.dropdown
      a(href='#', data-toggle='dropdown').dropdown-toggle #{label}
        b.caret
      ul.dropdown-menu
        li
        each dropdown_item in url
          each dropdown_url, dropdown_label in dropdown_item
            a(href='#{dropdown_url}') #{dropdown_label}

  else if (label == active_label)
    li.active
      a(href='#{url}') #{label}

  else
    li
      a(href='#{url}') #{label}

mixin pageNavbar(active_label, include_code_language_selector)
  - var ITEMS = [{'Home': 'index.html'}, {'Getting Started': [{'Overview': 'getting_started_overview.html'}, {'Dependent Library Basics': 'getting_started_dependent_library_basics.html'}, {'Knockback Basics': 'getting_started_knockback_basics.html'}, {'Knockback Tips': 'getting_started_knockback_important_details.html'}, {'Knockback Application Patterns': 'getting_started_knockback_application_patterns.html'}]}, {'Docs': 'docs.html'}, {'Tutorials': [{'kb.ViewModel': 'tutorial_kb_view_model.html'}, {'kb.Observable': 'tutorial_kb_observable.html'}, {'kb.LocalizedObservable': 'tutorial_kb_localized_observable.html'}, {'Nested Models': 'tutorial_nested_models.html'}, {'Relational Models': 'tutorial_relational_models.html'}, {'Custom Locale Manager': 'tutorial_locale_manager.html'}, {'Todos App': 'tutorial_todos_app.html'}, {'Inspector Library': 'tutorial_inspector_library.html'}]}, {'Release Notes': 'https://github.com/kmalakoff/knockback/wiki/Release-Notes'}]

  div.navbar.page
    div.navbar-inner
      div.container
        a.brand.kb(href='https://github.com/kmalakoff/knockback') Knockback.js
        ul.nav
          each item in ITEMS
            each url, label in item
              mixin pageNavbarWriteItem(label, url, active_label)
        if (include_code_language_selector)
          include _layout_code_language_selector

