extends ../_layout/_layout_template

include ../_layout/_layout_mixins
include ../_docs/_docs_mixins

block title
  title= "Knockback.js Docs"

block includes
  link(rel="stylesheet",href="stylesheets/docs.css")

block navbar
  mixin pageNavbar('Docs', true)

block api_descriptions

  //////////////////////////////////
  // kb.FormattedObservable
  //////////////////////////////////
  h2='kb.FormattedObservable'
  div="Used to reformat a string when an argument changes. The format string can also be an observable."
  h4='Example:'
  pre(data-for='cs').
    formatted_name = kb.formattedObservable("{1}...cool!", kb.observable(model, 'name'))

  pre(data-for='js').
    var formatted_name = kb.formattedObservable("{1}...cool!", kb.observable(model, 'name'));

  h3#factory='kb.formattedObservable(format, args...) '
    span.label.label-info='factory'
  div="Used to create a new instance"
  h4='Parameters'
    ol
      li
        strong='format: '
        span=' a format string such as "{0} and {1}" where {0} and {1} would be synchronized with the arguments (eg. "Bob and Carol" where {0} is Bob and {1} is Carol)'
      li
        strong="args: "
        span=" all arguments to be passed to the kb.LocaleManager's get() method"
  h4='Example:'
  pre(data-for='cs').
    formatted_name = kb.formattedObservable("{1}...cool!", kb.observable(model, 'name'))

  h3#constructor='constructor(format, args...) '
  div="Used to create a new instance"
  h4='Parameters'
    ol
      li
        strong='format: '
        span=' a format string such as "{0} and {1}" where {0} and {1} would be synchronized with the arguments (eg. "Bob and Carol" where {0} is Bob and {1} is Carol)'
      li
        strong="args: "
        span=" all arguments to be passed to the kb.LocaleManager's get() method"
  h4='Example:'
  pre(data-for='cs').
    formatted_name = new kb.FormattedObservable("{1}...cool!", kb.observable(model, 'name'))

  pre(data-for='js').
    var formatted_name = new kb.FormattedObservable("{1}...cool!", kb.observable(model, 'name'));

  h3#destroy='destroy()'
  div="Used to release the memory of the object"

block content
  div.api.container
    h1="Knockback.js API and Usage Examples"
    div.container-fluid
      div.row-fluid
        div.span3.api.index
          mixin docsIndex('kb.FormattedObservable', [{factory: 'kb.formattedObservable'}, {constructor: 'constructor'}, {destroy: 'destroy'}])
        div.span9.api.descriptions
          div.content
            div.wrapper
              block api_descriptions
